### R files ###
.Rproj.user
.Rhistory
.Rdata
.Ruserdata
*.Rproj
/renv/*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
*.code-workspace

### Data Files ###
*.xlsm

### RsConnect ###
rsconnect/
